<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
</head>
<body>
    <script type = "text/javascript"
         src = "{{ url_for('static', filename = 'home.js') }}" >
     </script>
    <a href="/show_add/">Add</a>
    <a href="/show_edit/">Edit</a>
    <table border="1">
        <h3>Data</h3>
        <tr>
            <th>Select</th>
            <th>ID</th>
            <th>Name</th>
            <th>City</th>
            <th>State</th>
        </tr>
        {% for row in response.data %}
        <tr>
            <td align="center">
                <input class="select_data" type="checkbox" id="{{ row.id }}" value="{{ row.id }}">
            </td>
            <td align="center" style="width: 20%;">{{ row.id }}</td>
            <td align="center" style="width: 30%;">{{ row.name }}</td>
            <td align="center" style="width: 30%;">{{ row.city }}</td>
            <td align="center" style="width: 20%;">{{ row.state }}</td>
        </tr>
        {% endfor %}
    </table>
    <button type="button" onclick="del()">Delete</button>
    <table border="1">
        <h3>Changed Data</h3>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>City</th>
            <th>State</th>
        </tr>
        {% for row in response.changed_data %}
        <tr>
            <td align="center" style="width: 20%;">{{ row.id }}</td>
            <td align="center" style="width: 30%;">{{ row.name }}</td>
            <td align="center" style="width: 30%;">{{ row.city }}</td>
            <td align="center" style="width: 20%;">{{ row.name }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>