<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
     <script type = "text/javascript"
         src = "{{ url_for('static', filename = 'home.js') }}" >
     </script>
</head>
<body>
    <a href="/show_add/">Add</a>
    <table>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>City</th>
            <th>State</th>
        </tr>
        {% for row in response.data %}
        <tr>
            <td>{{ row.id }}</td>
            <td>{{ row.name }}</td>
            <td>{{ row.city }}</td>
            <td>{{ row.name }}</td>
            <td>
                <button type="button" onclick="edit({{ row.id }})">Edit</button>
            </td>
            <td>
                <button type="button" onclick="del({{ row.id }})">Delete</button>
            </td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>